  /*Parte del contenido, lo que parece una tarjeta*/
  .container{
    width: 65%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0,0,0,.5) 0 5px 10px;
    overflow: hidden;
    display: block;
    border-radius: 7px;
  }
  
  @font-face{
    font-family: ArcadeClassic;
    font-family: Potra;
    src: url("../font-family/font-arcade-clasic/ARCADECLASSIC.TTF");
    src: url("../font-family/potra/Potra.ttf");
  }
  
  .info ul, .container div{
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: center;
   
  }
  
  .first{
    width: 100%;
    height: 60%;
    background: linear-gradient(-90deg, #e8d9b7  50%, #1e1c27 50%);
  }
  
  .info{
    margin-top: 3%;
    margin-left: 2%;
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  .info1{
    width: 80%;
    margin-left: 0%;
    padding-top: 3%;
    float: left;
    box-sizing: border-box;
  }
  
  .first li{
    display: block;
    width: 50%;
    height: 100%;
    padding-top: 4%;
    
  }
  
  .first li p{
    width: 100%;
    padding:5px 10px;
  display: block;
  text-decoration: none;
    font-family: 'Potra', serif; 
    font-size: 65px;
    color: whitesmoke;
    margin-left: 10%;
    
  }
  .first li p:hover{
    color:#cebd98;
    cursor: grab;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
    
  .david{
    margin-left: -1%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  
  .last1{
    margin-top: -10%;
    margin-left: -50%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  .last2{
    margin-top: -10%;
    margin-left: -50%;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  
  img.pequeña{
    width: 30%;
    overflow: hidden;
    margin-left:50%;
    background: #e8d9b7;
    
  }
  
  .btn1{
    margin-left: 35%;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    color: #ffffff;
    background-color: #1e1c27;
    box-shadow: rgba(0,0,0,.5) 0 5px 10px;
    border-radius: 6px;
    font-family: 'Grenze', serif;
  }
  
  .btn1:hover{
    color: #1e1c27;
    background-color: #cebd98;
  }
  
  hr{
    margin-top: 15%;
    width: 100%;  
    height: 2px;
    background-color: black;
  }
  
  .line1{
    margin-left: 10%;
  }
  .line2{
    margin-left: 10%;
    padding-right: 0%;
    margin-top: -4%;
  }
  
  @media(max-width:1700px){
    .container{
        height: 75%;
    }
    .first li p{
        font-size: 55px;
    }
    .last1{
        margin-left: -40%;
    }
    .last2{
        margin-left: 80%;
    }
    img.pequeña{
        margin-top: -29%;
        margin-left: 5%;
        width: 70%;
        background: transparent;
    }

    .btn1{
        margin-left: 10%;
    }
    .line1{
        margin-left: 2%;
    }
    .line2{
        margin-left: 2%;
    }
  
  }
  
  @media screen and (max-width:980px){
    .container{
        width: 100%;
    }
  }
  @media screen and (max-width:590px){
    .btn1{
        font-size: 20px;
    }

    img.pequeña{
        width: 85%;
        margin-top: -22%;
        margin-left: 3%;
    }
    .first li p{
        font-size: 38px;
    }
    .first li{
        padding-top: 6%;
    }
  }
  @media screen and (max-width:500px){
    .container{
        display: block;
        height: 60%;
    }
    .info{
        width: 100%;
    }
    .info1{
        display: none;
    }
    .first{
        height: 50%;
        background: #cebd98;
    }
    .first li p{
        color: #1e1c27;
        margin-left: 0;
    }
    .btn1{
        margin-left: 0%;
    }
    .line1{
        margin-left: 0%;
    }
    .line2{
        margin-top: 0%;
    }
  }